body{
   margin: 0;
   padding: 0; 
    font-family: 'Montserrat', sans-serif;

}

.header{
    width: 100%;
    height: 70px;
    
    /* background-color: burlywood; */

}

.header .left{
    width: 33%;
    float: left;
   text-align: left;
}

.header .center{
    width: 33%;
    float: left;
    text-align: center;
}

.header .right{
    width: 33%;
    float: right;
    text-align: right;
}

.header .left a{
    font-size: 30px;
    color: gray;
    position: relative;
    top:20px;
    left: 20px;
}


.header .center a{
    font-size: 40px;
       font-family: 'Pacifico', cursive;
       color: #f6755e;
}

.header .right button{
       width: 100px;
       height: 45px;
       border: 1px solid gray;
       background: none;
       font-family: 'Montserrat', sans-serif;
       margin-top: 20px;
       margin-right: 30px;
}

/* banner starts here */

.banner{
    width: 100%;
    height: 650px;
    background-image: url("../web\ image/inbanner.jpg");
  background-size: cover;
  background-position: center top;
}

.banner .text{
    text-align: center;
    position: relative;
    top: 200px;
}

.text h1{
    font-size: 48px;
    color: #25a2c3;
}

.text p{
    font-size: 20px;
    font-weight: 200;
}

.text button{
    width: 200px;
    height: 50px;
    background-color: #f6755e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    border-radius: 5px;
}


/* banner 2 start here */

.wrapper{
    width: 100%;
    height: 600px;
     /* background-color: lemonchiffon;  */
    background-size: cover;
    background-position: center top;
    font-family: 'Montserrat', sans-serif;
}

.left1{
    width: 36%;
    height: 600px;
    /* background-color: blue; */
    float: left;
}

.left1 .sonu{
   font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 140px;
    left: 170px;
   }

    .sonu h3{
    color: #25a2c3;
   text-align: right;
   position: relative;
   right: 180px;
   }

   .sonu p{
    
   text-align: right;
   position: relative;
   right: 180px;
   }

   




.center2{
    width: 28%;
    height: 600px;
    /* background-color: darkolivegreen; */
    float: left;
}

.center2 img{
    width: 300px;
   height: 300px;
    border-radius: 100%;
    position: relative;
    top: 140px;
    left: 40px; 
    }


    .right3{
    width: 36%;
    height: 600px;
     /* background-color: red;  */
    float: right;
}

.right3 .monu{
    position: relative;
    top: 140px;
    right: ;
}


.monu h3{
    color: #25a2c3;
 }


 /* banner3 start hear */

 .banner3{
    width: 100%;
    height: 500px;
    background-color:#f6755e ;
    background-size: cover;
    background-position: center top;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

 }

 .banner3 .ban{
    position: relative;
    top:150px;

 }

  .ban h4{
 
    font-size: 47px;
    color: #fff;
}

.ban p{
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}

.ban h5{
    position: relative;
    top: 15px;
    font-size:20px;
    
    color: #fff;
}

/* banner 4 starts */

 

.banner4{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
   
     .box1{
        width: 260px;
        float: left;
         position: relative;
         top:200px;
         left: 230px;
         margin-right: 50px;
         border: 1px solid lightgray;
    }

.box1 img{
    width: 100%;
}

.box1 p{

    margin-left: 10px;
    color:gray;
    line-height: 25px;
    font-size: 14px;
  
    
}

.box1 h4{
    color: #25a2c3;
    font-size: 17px;
    margin-left: 10px;
}


/* banner 5 starts */

.banner5{
    width: 100%;
    height: 300px;
    background-color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
}
.get{
    color: #fff;

    position: relative;
    top: 90px;
}


.get{
    text-align: center;
}

.social{
    width: 300px;
    height: 100px;
    text-align: center;
    float: left;
    margin-right: 2px;
    /* background-color: darkgoldenrod; */
    position: relative;
    left: 230px;
    top: 80px;
}

.social p{
    margin-top: 25px;
    color: #fff;
    font-size: 13px;
    color: #dbdbdb;
}

.line{
    position: relative;
    top:150px;
    right: 400px;
    color: #fff;
}

    



































